.loader {
  .wrapp {
    background-color: #f2f2f2;
    height: calc(100vh - 100px);
    width: 100%;
    position: absolute;
    z-index: 100;
     .loader-img {
       height: auto;
       max-width: 120px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
     }
  }
}
