.main-header .wrapp {
  font-size: 0; }

.main-header .logo-wrapp {
  display: inline-block; }

.main-header .logo-link {
  transition: opacity .3s ease;
  display: inline-block; }
  .main-header .logo-link:hover {
    opacity: .5; }

.main-header .logo-img {
  max-width: 60px;
  margin-top: 5px;
  height: auto;
  display: inline-block; }

.main-header .main-nav {
  text-align: center; }
  .main-header .main-nav .nav-item {
    display: inline-block;
    width: 50%; }
  .main-header .main-nav .nav-link {
    color: #6d95bb;
    width: 100%;
    font-size: 18px;
    display: inline-block;
    line-height: 30px;
    font-family: 'sfns_displayregular', sans-serif;
    text-decoration: none;
    padding: 10px 0;
    transition: all .3s ease;
    text-transform: capitalize;
    background-color: white;
    position: relative; }
    .main-header .main-nav .nav-link:after {
      position: absolute;
      background-color: #6d95bb;
      content: '';
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      display: block;
      transition: all .5s ease; }
    .main-header .main-nav .nav-link:hover {
      box-shadow: inset 0 0 0 50px #87c355;
      color: white; }
    .main-header .main-nav .nav-link.active {
      transition: all .3s ease;
      background-color: rgba(255, 255, 255, 0.8);
      font-weight: 700;
      font-family: 'sfns_displayregular', sans-serif;
      box-shadow: none;
      color: #87c355; }
      .main-header .main-nav .nav-link.active:after {
        background-color: #87c355;
        width: 100%; }
