.result-table {
  .wrap {
    padding-top: 20px;
    .table-col {
      display: inline-block;
      width: 33.3333333333333%;
      vertical-align: middle;
      text-align: center;
    }
    .table-header {
      .table-col {
        .heading {
          padding-top: 5px;
          padding-bottom: 5px;
          color: white;
          text-transform: uppercase;
          background-color: #6d95bb;
          cursor: pointer;
        }

        &:nth-child(even) {
          .heading {
            background-color: lighten(#619635, 15%);
          }
        }
      }
    }
    .table-content-wrap {
      .table-row {
        transition: all .4s ease;
        cursor: pointer;
        &:hover {
          color: white
        }
        &:nth-child(odd):hover {
          background-color: lighten(#619635, 15%);
        }
        &:nth-child(even):hover {
          background-color: #6d95bb;

        }
      }
    }
  }
}
