.main-footer {
  .wrapp {
    height: 50px;
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(243,243,243,1);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(243,243,243,1);
    box-shadow: inset 0px 0px 15px 10px rgba(243,243,243,1);
    background: #f3f3f3 url("../../assets/img/footer-background.png") no-repeat center center/cover;
  }
}