.app-wrap {
  height: calc(100vh - 100px);
  overflow: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .app-wrap .container {
    max-height: calc(100vh - 100px);
    height: auto;
    overflow: auto; }
