.search-form-wrap .input-wrap {
  position: relative;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box; }
  .search-form-wrap .input-wrap .search-input {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    line-height: 22px;
    color: #222; }
    .search-form-wrap .input-wrap .search-input.focused + label {
      top: -15px;
      transform: none;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0px 0px 5px 0px #f0f0f0;
      border-radius: 10px;
      padding: 10px; }
  .search-form-wrap .input-wrap .search-label {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 22px;
    line-height: 22px;
    color: #222;
    transform: translateY(-50%);
    transition: all .3s ease; }
